.second-step {
		width: 557px;
		animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-left {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.second-step-title {
	margin: 28px 0;
}

.second-step-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 68px;
}

.step-fomr-label {
	margin-bottom: 16px;
	transition: all 0.5s ease;
	position: relative;
}

.step-fomr-label input {
	width: 100%;
	border: 1px solid #DFDFDF;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 37px 24px 16px;
	background:#fff;
}

input[type="text"] {
	background: transparent;
}

.label__span {
	position: absolute;
	top: 32px;
	left: 24px;
	overflow: hidden;
}

.step-fomr-label:last-child {
	margin-bottom: 0;
}

.step-fomr-label.wrong input{
	border: 1px solid rgba(217, 23, 23, 0.75);
	box-shadow: 10px 10px 134px -34px rgba(217, 23, 23, 0.75);
}

.step-fomr-label :focus {
	border: 1px solid #CD8B65;
}

.label__span {
	font-weight: 800;
}


